<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>KATALOG MONET</title>
        
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		
		<link th:href="@{/style.css}" rel="stylesheet" />
    </head>
    
<body class="container">
    <!-- 
    	<header class="row logout">
    		<form method="post" th:action="@{/logout}">
    			<input type="submit" value="WYLOGUJ" class="btn btn-primary stretched-link"> 
    		</form>
    	</header>
     -->
    
   	<div class="row">
       	<h2 class="col-sm-12">KATALOG MONET</h2><br/>
	</div>

    <br/><br/>
	<div class="row">
        <table>
         	<tbody th:if="${ not #lists.isEmpty(coins) }">
		        <tr th:each="coin : ${coins}">
		        	<td><div class="cell">
		        	<h3 th:text="${coin.name}"></h3>
		        	<hr>
		        	<div class="row">
			        	<img th:src="@{https://katalogfischer.pl/} + ${coin.photo}" class="col-sm-4 h-100"/>
			        	<div class="col-sm-4 column">
			        		<div>Kod: <strong th:text="${coin.code}"></strong></div>
			        		<div>Rok: <strong th:text="${coin.year}"></strong></div>
			        		<div>Średnica: <strong th:text="${coin.diameter}"></strong></div>
			        		<div>Kształt: <strong th:text="${coin.shape}"></strong></div>
			        		<div>Napis: <strong th:text="${coin.inscription}"></strong></div>
			        		<div>Nakład: <strong th:text="${coin.circulation}"></strong></div>
			        	</div>
			        	<div class="col-sm-4 column">
			        		<div>Metal: <strong th:text="${coin.metal}"></strong></div>
			        		<div>Próba: <strong th:text="${coin.fineness}"></strong></div>
			        		<div>Waga: <strong th:text="${coin.weight}"></strong></div>
			        		<div>Stempel: <strong th:text="${coin.stamp}"></strong></div>
			        		<div>Rant: <strong th:text="${coin.border}"></strong></div>
			        		<div>Komentarz: <strong th:text="${coin.comment}"></strong></div>
			        	</div>
		        	</div>
		        	</div></td>
		        </tr>
		    </tbody>
	    </table>
	</div>
	
	<!-- 
	<br/><br/>
	<footer class="row justify-content-sm-center">
        <a th:href="@{'/user/addUserPage'}" class="col-sm-3 btn btn-primary stretched-link">Dodaj użytkownika</a><br/>
        <a th:href="@{'/'}" class="col-sm-3 btn btn-primary stretched-link">Strona główna</a>
	</footer>
	 -->
</body>
</html>