h2 {
	text-align: center;
	font-weight: bold;
}

h3 {
	text-align: center;
	font-weight: bold;
}

.cell {
	border-style: solid;
	border-radius: 10px;
	border-width:2px;
	padding: 10px;
	margin: 10px;
}
